<div class="single-field">
    <p-inputGroup>
        <input #tvTitleQuery type="text" pInputText placeholder="E.g., The Sopranos, Cowboy Bebop, etc. ..." />
        <button type="button" 
        pButton icon="pi pi-search" 
        class="p-button-secondary"
        (click)="handleSearch(tvTitleQuery.value)"
        >
        </button>
    </p-inputGroup>
</div>


<!-- <p-dataView #dv [value]="tvQueryList">
    <ng-template pTemplate="list" let-tvQueryList>
        <div *ngFor="let result of tvQueryList">
            <p-card class="queryResultCard" header={{result.title}} (click)="handleResultClick(result)">
                <div>{{ result.network }}</div>
                <div>{{ result.status }}</div>
                <div>{{ result.summary }}</div>
                <div>{{ result.firstDayAired }}</div>
            </p-card>
        </div>
    </ng-template>
</p-dataView> -->

<div class="searchCardListContainer">
    <div class="singleTvCardContainer" *ngFor="let result of tvQueryList">
        <p-card class="queryResultCard" 
        header={{result.title}} subheader="{{result.network}}"
        (click)="handleResultClick(result)"
        >
            <ng-template pTemplate="content">
                <div class="card-content">
                    <div class="listImgContainer">
                        <img class="listImg" src="{{ result.artworkUrl }}" alt="">
                    </div>
                    <!-- <div>{{ result.network }}</div> -->
                    <div class="text-content">
                        <div>{{ result.summary }}</div>
                        <div class="footer-info">
                            <div class="info-tag-group">
                                <div class="footer-item">
                                    <p-tag value="First aired: {{ result.firstDayAired }}" [rounded]="true" />
                                </div>
                                <div class="footer-item">
                                    <p-tag value="{{ result.status }}" [rounded]="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>
