<p>tv-search-dialog works!</p>
<div class="single-field">
    <p-inputGroup>
        <input #tvTitleQuery type="text" pInputText placeholder="Keyword" />
        <button type="button" 
        pButton icon="pi pi-search" 
        class="p-button-secondary"
        (click)="onSearch(tvTitleQuery.value)"
        >
        </button>
    </p-inputGroup>
</div>

<p-dataView #dv [value]="tvQueryList">
    <ng-template pTemplate="list" let-tvQueryList>
        <div *ngFor="let result of tvQueryList">
            <p-card class="queryResultCard" header={{result.title}}>
                    <!-- <div>{{ result.title }}</div> -->
                    <div>{{ result.network }}</div>
                    <div>{{ result.summary }}</div>
                    <div>{{ result.firstDayAired }}</div>
            </p-card>
        </div>
    </ng-template>
</p-dataView>