<div class="form-body">
    <p>tv-detail-form works!</p>
    <p-card header="Show Details">
        <form #tvForm="ngForm" (submit)="onSubmit(tvForm)">
            <input type="hidden" name="tvDetailId" [value]="service.formDataToPush.tvDetailId">

            <div class="single-field">
                <img class="tv-image" src="{{service.formDataToPush.artworkUrl}}" alt=""
                #artworkUrl="ngModel" name="artworkUrl"
                [(ngModel)]="service.formDataToPush.artworkUrl"
                >
            </div>
            <div class="single-field">
                <p-floatLabel>
                    <input id="title" type="text" pInputText variant="filled"
                    #title="ngModel" name="title"
                    [(ngModel)]="service.formDataToPush.title"
                    required
                    />
                    <label for="title">Title</label>
                </p-floatLabel>
            </div>
            <div class="single-field">
                <p-floatLabel>
                    <input id="network" type="text" pInputText variant="filled"
                    #network="ngModel" name="network"
                    [(ngModel)]="service.formDataToPush.network"
                    />
                    <label for="network">Network</label>
                </p-floatLabel>
            </div>
            <div class="single-field">
                <p-floatLabel>
                    <p-dropdown 
                        [options]="statusOptions"
                        [showClear]="true" variant="filled"
                        inputId="float-label" 
                        #status="ngModel" name="status"
                        [(ngModel)]="service.formDataToPush.status"
                        />
                    <label for="float-label">Status</label>
                </p-floatLabel>
            </div>
            <div class="single-field">
                <p-floatLabel>
                    <textarea 
                        id="summary" 
                        rows="5" cols="30" 
                        pInputTextarea
                        #summary="ngModel" name="summary"
                        [(ngModel)]="service.formDataToPush.summary"
                        >
                    </textarea>
                    <label for="summary">Summary</label>
                </p-floatLabel>
            </div>
            <div class="single-field">
                <p-floatLabel>
                    <p-calendar 
                        [iconDisplay]="'input'" 
                        [showIcon]="true" 
                        inputId="icondisplay"
                        #firstDayAired="ngModel" name="firstDayAired"
                        [(ngModel)]="service.formDataToPush.firstDayAired"
                    />
                    <label for="icondisplay">First day aired</label>
                </p-floatLabel>
            </div>
            <p-button label="Submit" (onClick)="onSubmit"/>
        </form>
    </p-card>
</div>
