.form-body {
    border: 5px solid red;
}

.single-field {
    margin: 20px 0;
}

.rm-input-styles {
    border: none;
}

/* Wack float label malfunction half-solution */
/* textarea:focus ~ label,
textarea ~ label {
  top: -.75em!important;
  font-size: 12px!important;
} */