<div class="form-body">
    <p>tv-detail-form works!</p>
    <p-card header="Show Details">
        <div class="single-field">
            <img src="{{artworkUrl}}" alt="">
        </div>
        <div class="single-field">
            <p-floatLabel>
                <input id="title" type="text" pInputText [(ngModel)]="title" variant="filled"/>
                <label for="title">Title</label>
            </p-floatLabel>
        </div>
        <div class="single-field">
            <p-floatLabel>
                <input id="network" type="text" pInputText [(ngModel)]="network" variant="filled"/>
                <label for="network">Network</label>
            </p-floatLabel>
        </div>
        <div class="single-field">
            <p-floatLabel>
                <p-dropdown 
                    [options]="statusOptions"
                    [(ngModel)]="status"
                    [showClear]="true" 
                    variant="filled"
                    inputId="float-label" />
                <label for="float-label">Status</label>
            </p-floatLabel>
        </div>
        <div class="single-field">
            <p-floatLabel>
                <textarea 
                    id="summary" 
                    rows="5" cols="30" 
                    pInputTextarea
                    [(ngModel)]="summary"
                    >
                </textarea>
                <label for="summary">Summary</label>
            </p-floatLabel>
        </div>
        <div class="single-field">
            <p-floatLabel>
                <p-calendar 
                    [(ngModel)]="firstDayAired" 
                    [iconDisplay]="'input'" 
                    [showIcon]="true" 
                    inputId="icondisplay" 
                />
                <label for="icondisplay">First day aired</label>
            </p-floatLabel>
        </div>
        
        <!-- <div class="single-field">
            Episode length
            <p-inputGroup>
                <p-inputNumber inputId="integeronly" [(ngModel)]="episodeLength" /> 
                <p-inputGroupAddon>mins</p-inputGroupAddon>
            </p-inputGroup>
        </div> -->
        <!-- <div class="single-field">
            Years on air
            <p-calendar 
            [(ngModel)]="startDate" 
            view="year"
            dateFormat="yy"
            selectionMode="range"
            [iconDisplay]="'input'" 
            [showIcon]="true" 
            />
        </div> -->
    </p-card>
</div>
