.form-container {
    /* border: 5px solid red; */
    /* justify-content: flex-end; */
    /* min-width: 400px; */
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */

}

.single-field {
    margin: 20px 0;
}

.rm-input-styles {
    border: none;
}

.tv-image {
    width: 10rem;
    height: 15rem;
}

/* Wack float label malfunction half-solution */
textarea:focus ~ label,
textarea ~ label {
  top: -.75em!important;
  font-size: 12px!important;
}

/* p-button {
    color: white;
} */