<div class="body">
    <!-- <p-dataView #dv [value]="service.addedTvList"> -->
        <!-- <ng-template pTemplate="list" let-addedTvList> -->
            <div class="card-list-container-with-gradient">
                <div class="tvCardListContainer">
                    <div class="singleTvCardContainer" *ngFor="let result of service.addedTvList.slice().reverse()">
                        <p-card class="queryResultCard" header={{result.title}}
                        (click)="populateForm(result)"
                        >
                            <div class="listImgContainer">
                                <img class="listImg" src="{{ result.artworkUrl }}" alt="">
                            </div>
                            <div>{{ result.network }}</div>
                            <div>{{ result.status }}</div>
                            <div>{{ result.summary }}</div>
                            <div>{{ result.firstDayAired }}</div>
                            <span>
                                <i class="fa-regular fa-trash-can fa-lg mouse-hover"
                                (click)="onDelete(result.tvDetailId)"
                                ></i>
                            </span>
                        </p-card>
                    </div>
                </div>
                <!-- <div class="gradient-overlay"></div> -->
            </div>
        <!-- </ng-template> -->
    <!-- </p-dataView> -->
     <div class="formAndSearchBtnContainer">
         <app-tv-detail-form />
         <div class="searchBtnContainer">
             <!-- <p-button 
             (onClick)="showDialog()" label="Show" 
             class="full-width-btn"
             /> -->
             <button
             (click)="showDialog()"
             label="Show" 
             class="full-width-btn"
             >
             Search for a show
             </button>
         </div>
     </div>
     <p-dialog header="Search shows" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '50rem' }">
        <app-tv-search-dialog />
    </p-dialog>

</div>
